# OS / editor
.DS_Store
Thumbs.db
*.swp
*.swo
.vscode/
.idea/

# Dependencies
node_modules/
vendor/

# Logs / cache
*.log
**/.phpunit.result.cache

# Env
.env
.env.*

# Nextcloud app signing
private.key
